# Editors
.idea/*
!.idea/fileTemplates

# Dependencies
/benchmark/vendor
/benchmark/composer.lock
/benchmark/typhoon/vendor/
/benchmark/typhoon/composer.lock
/vendor/
/composer.lock

# Build/coverage
/build
/coverage

# Cache
.php-cs-fixer.cache
.phpunit.cache
**/.phpunit.result.cache
.phpbench

# Temporary
tmp/

# Misc
.DS_Store
/*.log
*.swp
