includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
	level: max
	tmpDir: ./tmp/phpstan

	paths:
		- src

	ignoreErrors:
		# We expect proper error handling, in which case file_get_contents() will never return `false`
		-
			message: '#Parameter \#1 \$code of method PhpParser\\Parser::parse\(\) expects string, string\|false given\.#i'
			path: 'src/Definition/NativePHPDoc/File/FileContextParser.php'
		# It is assigned in the parent class. I'm not sure how to approach this and if this is a bug in PHPStan or not.
		- '#Class GoodPhp\\Reflection\\Definition\\TypeDefinition\\[a-z]+Definition has an uninitialized readonly property \$qualifiedName\. Assign it in the constructor\.#i'
		# This, again, I'm not sure how to approach.
		-
			message: '#Unsafe usage of new static\(\)#i'
			path: 'src/Util/IsSingleton.php'
